<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库连接字符串--><!--
  <conStr>
    Provider=SQLOLEDB.1;Password=sa123456;User ID=SA;Initial Catalog=UFDATA_999_2014;
    Data Source =.; Current Language = Simplified Chinese; Use Procedure for Prepare = 1; Auto Translate = True;
    Packet Size = 4096; Workstation ID = lichaor; Use Encryption for Data = False;
    Tag with column collation when possible = False
  </conStr>
  --><!--登录用户名--><!--
  <userName>demo</userName>
  --><!--栏目key值--><!--
  <lanmuKey>001</lanmuKey>
  --><!--是否开发模式（0：否 1：是）--><!--
  <isDevelopPattern>1</isDevelopPattern>-->

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
